body{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #868585;
	background: #ffffff;
	font-weight: normal;
}
img{
	max-width: 100%;
	height: auto;
}

header
{
	margin: 25px 0 80px;
}


.slogan{

	margin-bottom: 80px;

}

.slogan h1
{
	margin:0;
	text-align: center;
	font-size: 33px;
	color: #7e7e7e;

}

.nav-pager
{
	text-align: center;
}


.card-row
{
	margin-bottom: 50px;
}
.pagination > li > a,.pagination >li>span
{
	color: #b5b3b3;
}

.pagination > .active > a, .pagination > .active > a:focus,.pagination > .active > a:hover,.pagination > .active > span,.pagination > .active > span:focus,.pagination > .active > span:hover
.pagination > li > a:focus,.pagination > li > a:hover,.pagination > li > span,.pagination > li > span:focus,.pagination > li > span:hover
{
	background: #fff;
	border: 1px solid #ddd;
	color:#d42819;

}

.card-row img
{
	box-shadow: 0 0 5px rgba(0,0,0,.19);
	transition: all .5s;
}

.card-row a:hover img
{
	box-shadow: 0 0 15px rgba(0,0,0,.70);
}


.slogan h1 span
{
	color:#d42819;
}

.menu
{
	background: #ffffff;
	border: 0;
	
	padding: 15px 0;

}

.navbar-brand
{
	padding-right: 80px;
}

.navbar-brand img{

	position: relative;
	top: -48px;
}

.navbar-default .navbar-nav > li > a
{
	color: #8d8c8c;
	font-size: 18px;
	text-transform: uppercase;

}

.navbar-nav > li.active-link > a
{
	border-bottom: 1px solid #d42819;
	color: #8d8c8c;

}

.navbar-default .navbar-nav:not(.icons) > li > a:hover
{
	border-bottom: 1px solid #d42819;
	color: #8d8c8c;

}

.icons li a
{
	padding: 15px 5px;
}

.menu .container
{
	position: relative;
}

.globe
{
	font-size: 25px;
	line-height: 50px;
	position: absolute;
	right: 25px;
	cursor: pointer;
	color: #d0cfce;
	display: none;

}


footer
{
	margin-bottom: 100px;

}

footer hr
{
	border-color: #b7b6b6;
}



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) 
{
	.navbar-brand
	{
		padding-right: 10px;
	}

	.icons
	{
		display: none;
		position: absolute;
		right: 34px;
		top: 32px;


	}

	.icons  li
	{
		float: none;
	}

	.icons  li a{
		padding: 5px;

	}

	.globe
	{
		display: block;
	}



.card-row
{
	text-align: center;

}

}


@media only screen and (min-width : 993px) {

	.icons
	{
		display: block !impotent;

	}

}




/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

.navbar-nav > li > a
{
	transition: all.5s;
}

.navbar-default .navbar-nav:not(.icons) > li > a:hover
{
	border-bottom: 0 ;
	background-color: #d42819;
	color: #fff;

}


.navbar-nav > li.active-link > a
{
	border-bottom:0;
	color:#fff;
	background-color:#d42819;
	

}


.navbar-brand img{

	position: relative;
	top: -15px;
	max-height: 50px;

}

	.menu
	{
		padding: 0px;
	}

	.icons
	{
		display: block !important;
		position: relative;
		right: 0;
		top: 0;

	}

	.icons > li
	{
		display: inline-block;
	}


	.globe
	{
		display: none;
	}


	.card-row
{
	text-align: center;
	
}

.card
{
	margin-bottom: 50px;
}


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	header,
	.slogan
	{
		margin-bottom: 30px;
	}
	.slogan h1
	{
		font-size: 25px;
	}


}